
.card {

    height: 400px;
    min-width: 320px;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

}

.card__image {
    flex: 1;
    background-color: $dark-grey;
}

.card__body {
    height: 50%;
    background-color: $light-grey ;
    padding: 0.5em 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__body__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    h3 {
        font-size: 1.1em;
        margin: 0;
    }

    .fa-clock {
        color: black;
    }

    .recipe-time__value {
        font-weight: bold;
    }
}

.card__body__text {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;

    ul.ingredients {    
        flex: 1;
        font-size: 0.9em; 

        display: flex;
        flex-direction: column;
        row-gap: 2px;
    }

    .description {
        flex-basis: 45%;
    }

}

.card__body__text .description p {             
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;        
}


.card__body__text ul.ingredients {
    margin: 0;
    padding: 0;

    li.ingredient {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 5px;
        
        font-size: 0.9em;
    
        .ingredient__label {
            font-weight: bold;
        }
    
        .ingredient__quantity {
            display: flex;
            justify-content: flex-start;
            column-gap: 3px;
        }
    
    }

}

.card__body__text .ingredient__quantity-value::before {
    content: ':';
    width: 10px;
    height: 10px;
}

