button.dropdown {

    display: flex;
    flex-direction: column;
    
    color: white;
    border-radius: 5px;
    padding: 1em 2em;
    flex-basis: 30%;


    ul.dropdown__options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        font-size: 1.2em;

    }

    & > * {
        width: 100%;
    }
}



.dropdown-textsearch {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
        color: white;
        font-size: 1.3em;
        height: 40px;
        font-weight: bold;
    }

    input:focus {
        outline: none;
    }

    input::-webkit-input-placeholder {
        color: white;
        font-size: 1.2em;
    }
    
    input::-moz-placeholder {
        color: white;
        font-size: 1.2em;
    }

    &__icon {
        cursor: pointer;
        font-size: 1.2em;
    }
}



.btn-primary {
    background-color: $blue;

    .dropdown-textsearch__input {
        background-color: $blue;
    }
}

.btn-success {
    background-color: $green;

    .dropdown-textsearch__input {
        background-color: $green;
    }
}

.btn-danger {
    background-color: $red;

    .dropdown-textsearch__input {
        background-color: $red;
    }
}