button.dropdown {

    display: flex;
    flex-direction: column;
    

    color: white;
    border-radius: 5px;
    padding: 1em 2em;
    flex-basis: 30%;
    height: 70px;
    padding: 0;

    overflow: visible;
    position: sticky;

    &:not(.dropdown--active) ul.dropdown__options {
        display: none;
    }

    ul.dropdown__options {

        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        font-size: 1.2em;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    li {
        text-align: left;
        cursor: pointer;

        &:hover {
            color: lightgrey;
        }
    }

    .dropdown__header, .dropdown__options {
        width: 100%;
        padding: 1em;
    }
}



.dropdown__header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdown__input {
        color: white;
        font-size: 1.3em;
        height: 40px;
        font-weight: bold;
    }

    input:focus {
        outline: none;
    }

    input::-webkit-input-placeholder {
        color: white;
        font-size: 1.2em;
    }
    
    input::-moz-placeholder {
        color: white;
        font-size: 1.2em;
    }

    .dropdown__arrowIcon {
        cursor: pointer;
        font-size: 1.2em;
    }
}



.dropdown.btn-primary {
    background-color: $blue;

    .dropdown__input {
        background-color: $blue;
    }

    .dropdown__options {
        background-color: $blue;
    }
}

.dropdown.btn-success {
    background-color: $green;

    .dropdown__input {
        background-color: $green;
    }

    .dropdown__options {
        background-color: $green;
    }
}

.dropdown.btn-danger {
    background-color: $red;

    .dropdown__input {
        background-color: $red;
    }

    .dropdown__options {
        background-color: $red;
    }
}