@import "reset" ;
@import "constants" ;
@import "card" ;
@import "dropdown" ;
@import "tag" ;
@import "search-bar" ;

body {
    font-family: 'Lato', sans-serif;
}

header {

    display: flex;
    justify-content: center;

    .logo {
        height: 100px;
        width: 300px;
        margin: 1em;
    }

    .logo img {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
}

main {
    margin: 2em 100px;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}


.tags {
    display: flex;
    flex-direction: wrap;
    gap: 1em;
    font-weight: 700;
}

.dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



@media screen and (max-width: $sm-maxwidth) {
    main {
        margin: 2em 1em;
    }

    .cards {
        grid-template-columns: 1fr;
    }
    
}