/*RESET*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

input {
  border: none;
}

button {
  border: none;
}

.card {
  height: 450px;
  min-width: 320px;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #C7BEBE;
}

.card__body {
  height: 50%;
  background-color: #E7E7E7;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__body__header .card__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card__body__header h3 {
  font-size: 1.1em;
  margin: 0;
}

.card__body__header .fa-clock {
  color: black;
}

.card__body__header .recipe-time__value {
  font-weight: bold;
}

.card__body__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.card__body__text ul.ingredients {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.98em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1px;
}

.card__body__text .description {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.card__body__text .description p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card__body__text ul.ingredients {
  margin: 0;
  padding: 0;
}

.card__body__text ul.ingredients li.ingredient .ingredient__label {
  font-weight: bold;
}

.card__body__text .ingredient__quantity-value::before {
  content: ':';
}

button.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border-radius: 5px;
  padding: 1em 2em;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
}

button.dropdown:not(.dropdown--active) ul.dropdown__options {
  display: none;
}

button.dropdown ul.dropdown__options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  font-size: 1.2em;
}

button.dropdown li {
  text-align: left;
}

button.dropdown > * {
  width: 100%;
}

.dropdown-textsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-textsearch__input {
  color: white;
  font-size: 1.3em;
  height: 40px;
  font-weight: bold;
}

.dropdown-textsearch input:focus {
  outline: none;
}

.dropdown-textsearch input::-webkit-input-placeholder {
  color: white;
  font-size: 1.2em;
}

.dropdown-textsearch input::-moz-placeholder {
  color: white;
  font-size: 1.2em;
}

.dropdown-textsearch__icon {
  cursor: pointer;
  font-size: 1.2em;
}

.btn-primary {
  background-color: #3282F7;
}

.btn-primary .dropdown-textsearch__input {
  background-color: #3282F7;
}

.btn-success {
  background-color: #68D9A4;
}

.btn-success .dropdown-textsearch__input {
  background-color: #68D9A4;
}

.btn-danger {
  background-color: #ED6454;
}

.btn-danger .dropdown-textsearch__input {
  background-color: #ED6454;
}

.tag {
  min-height: 40px;
  padding: 0.5em 1em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.tag .text {
  color: white;
  font-weight: bold;
}

.tag .icon {
  border: 2px solid white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tag .icon .fa-xmark {
  color: white;
  font-size: 10px;
}

.tag-primary {
  background-color: #3282F7;
}

.tag-success {
  background-color: #68D9A4;
}

.tag-danger {
  background-color: #ED6454;
}

.search-bar {
  width: 100%;
  position: relative;
  height: 50px;
}

.search-bar .search-bar__input {
  width: 100%;
  height: 100%;
  background-color: #E7E7E7;
  border-radius: 3px;
  padding: 0 1em;
}

.search-bar .search-bar__input::-webkit-input-placeholder {
  font-size: 14px;
}

.search-bar .search-bar__input::-moz-placeholder {
  font-size: 14px;
}

.search-bar .search-bar__icon {
  position: absolute;
  top: 25%;
  right: 2%;
  cursor: pointer;
}

.search-bar .fa-search {
  font-size: 1.5em;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  height: 100px;
  width: 300px;
  margin: 1em;
}

header .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

main {
  margin: 2em 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2em;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  gap: 1em;
  font-weight: 700;
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 2em 1em;
}

@media screen and (max-width: 767px) {
  main {
    margin: 2em 1em;
  }
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  main {
    margin: 2em 1em;
  }
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  main {
    margin: 2em 2em;
  }
}
/*# sourceMappingURL=index.css.map */